<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ if .Description }}
  <meta name="description" content="{{ .Description }}">{{ end }}
  <title>{{ .Title }}</title>

  <link rel="stylesheet" type="text/css" href='{{ absLink "static/base.css"}}' />
</head>

<body>
  <div>
    <div>
      <main>
        {{ template "content" .Content }}
      </main>
    </div>
  </div>
</body>

</html>
